# Created by https://www.toptal.com/developers/gitignore/api/java-web,maven,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=java-web,maven,vscode

### Java-Web ###
## ignoring target file
target/

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### vscode ###
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/java-web,maven,vscode

### Java language server ###
.project
.classpath
.factorypath
.settings/